.login-dlg {
  position: fixed;
  background-color: var(--palette-col6);
}

.login-dlg-input {
  height: 44px;
  padding: 10px 16px;
  background-color: var(--palette-col1);
  border: 1px solid var(--palette-col5);
  border-radius: 7px;
}

.login-dlg-label {
  text-align: end;
}

.login-dlg-btn {
  font-size: 14px;
}

.login-dlg-btn-wrap {
  padding-left: 50px;
}
